In [1]:

import numpy as np
import pandas as pd
from datetime import datetime, date
#import googleads
import time
from sqlalchemy import create_engine, event
from datetime import datetime, date, timedelta
import pandas as pd
#import random


CONFIG = {
    #'database': 'postgresql://mike:mike@10.125.0.3:5432/mike', # PROD
    #'database': 'postgresql://mike:mike@35.230.140.62:5432/mike', #prod
    #'database': 'postgresql://mike:mike@35.197.200.111:5432/mike', #stage
    #'database': 'postgresql://mike:mike@14.140.104.62:5432/mike', #local
    'database': 'postgresql://mike:mike@35.197.253.86:5432/mike', # QA
    'schema': 'adwords',
}

class Database(object):
    def __init__(self, db, schema, syncDate):
        self.engine = create_engine(db)
        self.connection = self.engine.connect()
        self.schema = schema
        self.syncDate = syncDate
        self.date = f"'{self.syncDate}'"
        self.initializedTime = datetime.now()

    def RunQuery(self, query):
        return pd.read_sql(query, self.engine)
    
    def get_tables(self,query):
        return pd.read_sql(query, self.engine)
    
    def check_duplicacy(self, table_list, date):
        distinct_data_list=[]
        all_data_list=[]
        date=date
        for a in table_list:
            dist_data_count=db.RunQuery(f'''select count(*) from (select distinct * from adwords."{a}") as x where "date" >='{date}' ''')
            distinct_data_list.append(str(dist_data_count)+" = "+a)
            time.sleep(10)
            all_data_count=db.RunQuery(f'''select count(*) from adwords."{a}" where "date" >='{date}' ''')
            all_data_list.append(str(all_data_count)+" = "+a)
            time.sleep(10)
        return all_data_list, distinct_data_list
    
    def check_update(self,date_test):
        df=pd.read_sql(f'''SELECT a.account_id , a.status , b.account_id, b.status, a.created_at, a.updated_at FROM adwords."changes" as a inner join adwords."accounts" as b on a.account_id = b.account_id where a."date"='{date_test}' and a.status=0 and b.status=0 limit 50''', self.engine)
        return df
        
        
    def has_changed(self, date):
        df=pd.read_sql(f'''select distinct account_id from adwords.changes where date ='{date}' and has_changed='true' ''', self.engine)
        return df
    
    def changed_accounts(self,date):
        df= pd.read_sql(f'''select distinct account_name, mcc_name from adwords.accounts where account_id in (select distinct account_id from adwords.changes where date ='{date}' and has_changed='true' and status=0 ) limit 5''', self.engine)
        return df
    
    def changed_KPIs(self, date, account_name_list):
        dataframes_list=[]
        for account_name in account_name_list:
            df=pd.read_sql(f'''select sum(changed_keywords) as changed_keywords, sum(changed_ads) as changed_ads, sum(removed_keywords) as removed_keywords  from adwords."changes" where date='{date}' and account_name ='{account_name}' and has_changed='true' and status =0''', self.engine)
            dataframes_list.append(df)
        return dataframes_list
    
    def get_detaframe(self, list_of_dataframes, table_names):
        dataframes=list_of_dataframes
        df=pd.concat(dataframes)
        df.index=table_names
        return df

In [2]:
db = Database(CONFIG['database'], CONFIG['schema'], date.today())

In [3]:
table_df= db.RunQuery("select tablename from pg_catalog.pg_tables where schemaname='adwords' and tableowner='mike'")
table_list=table_df['tablename'].tolist()
print(table_list)
sizeOfTables=len(table_list)

['accounts', 'day_parting', 'adExtensions', 'adGroups', 'bingmccmapper', 'changes', 'ngramadcopyanalysisreport', 'dailyScore', 'tmp_changes', 'sharedNegativeLists', 'campaigns', 'lastChanges', 'schedulingPerformanceReport', 'summaryagePerformanceReport', 'genderPerformanceReport', 'budgets', 'trafficandqualityreport', 'tmp_geoPerformanceReport_city', 'allcampaigntracker', 'keywords', 'ngramsearchanalysisreport', 'summarygenderPerformanceReport', 'ads', 'searchqueries', 'upload_file', 'tmp_ngramsearchanalysisreport', 'accounts_test', 'tmp_trafficandqualityreport', 'tmp_accounts', 'Profile_mcc_permission', 'tmp_keywords', 'agePerformanceReport', 'tmp_ads', 'tmp_allcampaigntracker', 'summaryschedulingPerformanceReport', 'Profile', 'tmp_summarytrafficByMatchTypeReport', 'tmp_dailyScore', 'tmp_campaigns', 'tmp_lastChanges', 'tmp_adExtensions', 'tmp_ngramadcopyanalysisreport', 'tmp_summaryschedulingPerformanceReport', 'tmp_adGroups', 'tmp_sharedNegativeLists', 'tmp_devicePerformanceReport', 'tmp_geoPerformanceReport', 'tmp_summaryagePerformanceReport', 'summarytrafficByMatchTypeReport', 'tmp_agePerformanceReport', 'tmp_schedulingPerformanceReport', 'tmp_summarygenderPerformanceReport', 'tmp_summarygeoPerformanceReport', 'devicePerformanceReport', 'trafficByMatchTypeReport', 'geoPerformanceReport', 'tmp_genderPerformanceReport', 'tmp_searchqueries', 'tmp_budgets', 'summarygeoPerformanceReport', 'tmp_trafficByMatchTypeReport']

In [4]:
print("total number of accounts are:  ", sizeOfTables)

total number of accounts are:   61

In [5]:
short_list=['tmp_dailyScore','tmp_devicePerformanceReport','tmp_lastChanges']

In [6]:
date='2019-08-26'
lst, lst2= db.check_duplicacy(short_list, date)
lst = [w.replace('   count\n0', '') for w in lst]
print("all data list : ", lst)

print('#'*100)

lst2 = [w.replace('   count\n0', '') for w in lst2]
print("duplicate data list: ", lst2)

all data list :  ['   5357 = tmp_dailyScore', '   4971 = tmp_devicePerformanceReport', '    154 = tmp_lastChanges']
####################################################################################################
duplicate data list:  ['   5282 = tmp_dailyScore', '   4971 = tmp_devicePerformanceReport', '    154 = tmp_lastChanges']

In [9]:
df= db.check_update(date)
print(df)
print('#'*50)

list_of_accounts= db.has_changed(date)
print(list_of_accounts)
print('#'*50)

name_of_accounts= db.changed_accounts(date)
print(name_of_accounts)
print('#'*50)

    account_id  status  account_id  status                 created_at  \
0   1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
1   1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
2   1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
3   1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
4   1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
5   1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
6   1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
7   1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
8   1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
9   1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
10  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
11  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
12  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
13  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
14  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
15  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
16  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
17  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
18  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
19  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
20  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
21  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
22  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
23  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
24  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
25  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
26  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
27  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
28  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
29  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
30  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
31  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
32  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
33  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
34  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
35  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
36  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
37  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
38  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
39  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
40  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
41  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
42  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
43  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
44  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
45  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
46  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
47  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
48  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678
49  1038441522       0  1038441522       0 2019-08-27 05:59:14.427678

                   updated_at
0  2019-08-27 05:59:14.427678
1  2019-08-27 05:59:14.427678
2  2019-08-27 05:59:14.427678
3  2019-08-27 05:59:14.427678
4  2019-08-27 05:59:14.427678
5  2019-08-27 05:59:14.427678
6  2019-08-27 05:59:14.427678
7  2019-08-27 05:59:14.427678
8  2019-08-27 05:59:14.427678
9  2019-08-27 05:59:14.427678
10 2019-08-27 05:59:14.427678
11 2019-08-27 05:59:14.427678
12 2019-08-27 05:59:14.427678
13 2019-08-27 05:59:14.427678
14 2019-08-27 05:59:14.427678
15 2019-08-27 05:59:14.427678
16 2019-08-27 05:59:14.427678
17 2019-08-27 05:59:14.427678
18 2019-08-27 05:59:14.427678
19 2019-08-27 05:59:14.427678
20 2019-08-27 05:59:14.427678
21 2019-08-27 05:59:14.427678
22 2019-08-27 05:59:14.427678
23 2019-08-27 05:59:14.427678
24 2019-08-27 05:59:14.427678
25 2019-08-27 05:59:14.427678
26 2019-08-27 05:59:14.427678
27 2019-08-27 05:59:14.427678
28 2019-08-27 05:59:14.427678
29 2019-08-27 05:59:14.427678
30 2019-08-27 05:59:14.427678
31 2019-08-27 05:59:14.427678
32 2019-08-27 05:59:14.427678
33 2019-08-27 05:59:14.427678
34 2019-08-27 05:59:14.427678
35 2019-08-27 05:59:14.427678
36 2019-08-27 05:59:14.427678
37 2019-08-27 05:59:14.427678
38 2019-08-27 05:59:14.427678
39 2019-08-27 05:59:14.427678
40 2019-08-27 05:59:14.427678
41 2019-08-27 05:59:14.427678
42 2019-08-27 05:59:14.427678
43 2019-08-27 05:59:14.427678
44 2019-08-27 05:59:14.427678
45 2019-08-27 05:59:14.427678
46 2019-08-27 05:59:14.427678
47 2019-08-27 05:59:14.427678
48 2019-08-27 05:59:14.427678
49 2019-08-27 05:59:14.427678
##################################################
    account_id
0   1182509207
1   1805886249
2   2104692093
3   3030306388
4   3716291109
5   3781194937
6   4301133105
7   4368506701
8   4653375694
9   4927386333
10  5250694899
11  6413592263
12  7074176062
13  7283016050
14  7548551368
15  7996828899
16  9472599784
##################################################
            account_name                     mcc_name
0           AA Argentina  American Airlines LATAM MCC
1     AA: Business Extra     American Airlines US MCC
2                  AA DE   American Airlines EMEA MCC
3      AA: Transactional     American Airlines US MCC
4  CA_Lubricants_C&T_GSN               Lubricants MCC
##################################################

In [10]:
df=db.changed_accounts(date='2019-08-26')

account_name_list=df['account_name'].unique()

changed_keywords_df_list=db.changed_KPIs(date='2019-08-26', account_name_list=account_name_list)

final_df=db.get_detaframe(changed_keywords_df_list, account_name_list)

print(final_df)

                       changed_keywords  changed_ads  removed_keywords
AA Argentina                      125.0          0.0               0.0
AA: Business Extra                 28.0          0.0               0.0
AA DE                               5.0          0.0               0.0
AA: Transactional                   0.0          3.0               0.0
CA_Lubricants_C&T_GSN              23.0          0.0               0.0

In [11]:
print(name_of_accounts)

            account_name                     mcc_name
0           AA Argentina  American Airlines LATAM MCC
1     AA: Business Extra     American Airlines US MCC
2                  AA DE   American Airlines EMEA MCC
3      AA: Transactional     American Airlines US MCC
4  CA_Lubricants_C&T_GSN               Lubricants MCC